p.welcome{
    color: red;
}
p.un{
    color: blue;
}
body{
    background: url("https://img.freepik.com/photos-gratuite/gai-jeune-homme-africain-montrant-pouces-vers-haut_171337-9627.jpg?w=2000");
}

h1.hea{
    font-size: 50px;
}
a{ font-size: 20px;
}
